/* You can add global styles to this file, and also import other style files */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main {
    min-width: 360px;
    max-width: 500px;
    min-height: 100vh;
    background-color:antiquewhite;
}
.bg-main {
    background-color:antiquewhite !important;
}
.nav-bar {
    min-height: 48px;
}
.content {
    padding: 16px;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.p-0 {
    padding: 0 !important;
}
.pb-16 {
    padding-bottom: 16px !important;
}
.mb-12 {
    margin-bottom: 12px !important;
}
.btn-green {
    background-color: #20c997 !important;
}
.mat-icon {
    font-size: 26px !important;
    height: 26px !important;
}
.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
    height: 48px !important;
}